.users h2{
    text-align: center;
    font-size: 30px;
    color: tomato;
}
.user_Items {
    background: rgb(232, 231, 235);
    padding: 10px 140px;
}
.pagination{
    text-align: center;
    padding: 15px;
}
.paginationBttns {
    width: 80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.paginationBttns a{
    padding: 10px;
    margin: 8px;
    border: 1px solid tomato;
    border-radius: 5px;
    cursor: pointer;
}

.paginationActive a{
    color: white;
    background-color: tomato;
}